**/*.DS_store
**/*.bak
**/*.swp
trash/**/*

**/*.qpf
**/*.qsf
**/*.rpt
**/*.qip
**/*.pyc
**/*.pin


# configureable files
Hardware/kernel_defs.h
Hardware/network_params.h

Software/MNIST_data/
Software/mnist.pkl.gz
